@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FE6A9C;
  --primary-hover: #e75786;
}

.background{
  background: var(--primary-color);
  
}
.text{
  color: var(--primary-color);
}

.btn {

  background: var(--primary-color);
  color: white;
  padding: 6px 16px;
  border-radius: 6px;
  transition: 0.2s;
}
.btn:hover {
  background: var(--primary-hover);
}
.hover:hover{
  color: var(--primary-color);
}